

.inside_main {
    background-image: url(./background.jpg);
    background-repeat: repeat-y;
  background-size: cover;
    min-height: 100vh;
    padding: 30px;

}

.navbar {
    background-color: transparent;
    /* border: 1px solid rgb(34, 34, 34); */
    z-index: 1000;
    color: white;
    border-radius: 30px;
    /* backdrop-filter: blur(2px); */
    padding-left: 20px !important;
}

.new a {
    background-color: white;
    border: 1px solid blue;
    padding: 10px;
    color: blue !important;
}

.main_home_data {
    padding: 20px;
}

.part1 {
    /* height: 300px; */
}